<template>
  <div id="app" class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li :class="$route.name === 'home' ? 'active' : ''" role="presentation"><router-link :to="{name: 'home'}">Главная</router-link></li>
          <li :class="$route.name === 'login' ? 'active' : ''" v-if="!isAuth" role="presentation"><router-link :to="{name: 'login'}">Вход</router-link></li>
          <li v-else role="presentation"><router-link :to="{name: 'logout'}">Выход</router-link></li>
        </ul>
      </nav>
    </div>
    <router-view></router-view>
    <footer class="footer">
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
    isAuth: function() {
      return this.$store.state.base.user;
    }
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
