<template>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 login">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
            v-model="login"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Введите email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input
            v-model="passwd"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Введите пароль">
      </div>
      <button class="btn btn-primary" @click="send()">Login</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data: function() {
      return {
        login: '',
        passwd: ''
      }
    },
    methods: {
      send() {
        if (this.login === '' || this.passwd === '') {
          window.Swal.fire({
            title: 'Ошибка',
            text: 'Заполните форму',
            icon: 'error'
          });
          return false;
        }
        window.axios.post('/auth/login', {
          login: this.login,
          passwd: this.passwd
        }).then(response => {
          console.log(response);
          if (response.data.status === true) {
            this.$store.commit('base/setUser', {val: true});
            this.$router.push({name: 'home'});
          } else {
            window.Swal.fire({
              title: 'Ошибка',
              text: 'Неверная пара логин/пароль',
              icon: 'error'
            });
            this.passwd = '';
          }
        }).catch(e => {
          window.Swal.fire({
            title: 'Ошибка',
            text: e,
            icon: 'error'
          });
        });
        console.log('send');
      }
    }
  }
</script>

<style lang="scss" scoped>
  div.login {
    padding: 15px 10px;
    border: 1px dashed silver;
  }
</style>