<template>
  <div></div>
</template>

<script>
  export default {
    mounted() {
      // Выход из системы
      window.axios.post('/auth/logout', {}).then(response => {
        console.log(response);
        if (response.data.status === true) {
          window.Swal.fire({
            title: 'Успешно',
            text: 'Вы успешно вышли из системы',
            icon: 'success'
          });
          this.$store.commit('base/setUser', {val: false});
        }
      }).catch(e => {
        window.Swal.fire({
          title: 'Ошибка',
          text: e,
          icon: 'error'
        });
      });
      this.$router.push({name: 'home'});
    }
  }
</script>