<template>
  <div>
    <h3>Список задач</h3>
    <div class="pull-left">
      <button
          class="btn btn-success"
          @click="$router.push({name: 'task-add'})">
        <i class="glyphicon glyphicon-plus"></i> Добавить
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th @click="setOrder('username')" class="text-nowrap">Пользователь
            <span v-if="orderBy === 'username' && orderAsc" class="dropup">
              <span class="caret"></span>
            </span>
            <span v-if="orderBy === 'username' && !orderAsc" class="caret"></span>
          </th>
          <th @click="setOrder('email')" class="text-nowrap">E-mail
            <span v-if="orderBy === 'email' && orderAsc" class="dropup">
              <span class="caret"></span>
            </span>
            <span v-if="orderBy === 'email' && !orderAsc" class="caret"></span>
          </th>
          <th @click="setOrder('description')" class="text-nowrap">Описание
            <span v-if="orderBy === 'description' && orderAsc" class="dropup">
              <span class="caret"></span>
            </span>
            <span v-if="orderBy === 'description' && !orderAsc" class="caret"></span>
          </th>
          <th @click="setOrder('is_complete')" class="text-nowrap">Статус
            <span v-if="orderBy === 'is_complete' && orderAsc" class="dropup">
              <span class="caret"></span>
            </span>
            <span v-if="orderBy === 'is_complete' && !orderAsc" class="caret"></span>
          </th>
          <th v-if="isAuth"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(task) in tasks" :key="task.id">
          <td class="text-left">{{ task.username}}</td>
          <td class="text-left">{{ task.email}}</td>
          <td class="text-left">
            <p>{{ task.description}}</p>
            <span
                v-if="task.is_edit == 1"
                class="badge">Отредактировано администратором</span>
          </td>
          <td>
            <input
              v-if="isAuth"
              type="checkbox"
              @click="changeStatus(task.id)"
              :checked="task.is_complete == 1">
            <span v-if="!isAuth && task.is_complete == 1" class="glyphicon glyphicon-ok"></span>
          </td>
          <td v-if="isAuth">
            <button
                @click="$router.push({name: 'task-edit', params: {'id': task.id}})"
                class="btn btn-default"
                title="Редактировать"
            ><i class="glyphicon glyphicon-pencil"></i></button>
          </td>

        </tr>
      </tbody>
    </table>
    <nav v-if="totalPages > 1" aria-label="Page navigation">
      <ul class="pagination">
        <li v-for="n in totalPages" :key="n" :class="currentPage === n ? 'active' : ''">
          <a href="#" @click.prevent="selectPage(n)">{{ n }}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
  export default {
    name: 'TaskList',
    computed: {
      tasks: function() {
        return this.$store.state.base.tasks;
      },
      totalPages: function() {
        return this.$store.state.base.totalPages;
      },
      currentPage: function() {
        return this.$store.state.base.currentPage;
      },
      orderBy: function() {
        return this.$store.state.base.orderBy;
      },
      orderAsc: function() {
        return this.$store.state.base.orderAsc;
      },
      isAuth: function() {
        return this.$store.state.base.user;
      }
    },
    methods: {
      // Переключить страницу
      selectPage(page) {
        this.$store.commit('base/setCurrentPage', page);
        this.$store.dispatch('base/initApp');
      },
      // Изменить сортировку
      setOrder(field) {
        if (this.$store.state.base.orderBy === field) {
          this.$store.commit('base/setVal', {key: 'orderAsc', val: !this.$store.state.base.orderAsc});
        } else {
          this.$store.commit('base/setVal', {key: 'orderAsc', val: false});
          this.$store.commit('base/setVal', {key: 'orderBy', val: field});
        }
        this.$store.dispatch('base/initApp');
      },
      // Изменить статус
      changeStatus(id) {
        window.axios.post('/task/status', {
          id: id,
        }).then(response => {
          if (!response.data.status) {
            window.Swal.fire({
              title: 'Ошибка',
              text: 'Не удалось изменить статус',
              icon: 'error'
            });
          } else {
            this.$store.dispatch('base/initApp');
          }
        }).catch(e => {
          window.Swal.fire({
            title: 'Ошибка',
            text: e,
            icon: 'error'
          });
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  th {
    cursor: pointer;
  }
</style>