<template>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 task-form">
      <div class="form-group">
        <label for="username">Имя пользователя</label>
        <input
            v-model="username"
            type="email"
            class="form-control"
            id="username"
            :disabled="isEdit"
            placeholder="Введите имя пользователя">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
            v-model="email"
            type="email"
            class="form-control"
            id="email"
            :disabled="isEdit"
            placeholder="Введите email">
      </div>
      <div class="form-group">
        <label for="task-description">Описание</label>
        <textarea
            v-model="description"
            class="form-control"
            id="task-description"
            rows="5"
            placeholder="Введите описание">
        </textarea>
      </div>
      <button class="btn btn-default" @click="$router.push({name: 'home'})">Отмена</button>
      &nbsp;
      <button class="btn btn-primary" @click="send()">Сохранить</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TaskForm',
    data: function() {
      return {
        isEdit: false,
        username: '',
        email: '',
        description: '',
        is_edit: false,
      }
    },
    methods: {
      // Сохранить задачу
      send() {
        // Все поля заполнены?
        if (this.email === '' || this.description === '' || this.username === '') {
          window.Swal.fire({
            title: 'Ошибка',
            text: 'Заполните форму',
            icon: 'error'
          });
          return false;
        }
        // E-mail коректный?
        let mailformat = new RegExp(/^([\w-_.]+)@([\w-_]+)\.(\w{2,3})+$/);
        if(!this.email.match(mailformat)) {
          window.Swal.fire({
            title: 'Ошибка',
            text: 'Введен некоректный Email',
            icon: 'error'
          });
          return false;
        }
        window.axios.post('/task/add', {
          id: this.isEdit ? this.$route.params.id : 0,
          username: this.username,
          email: this.email,
          description: this.description,
          is_edit: this.is_edit
        }).then(response => {
          if (response.data.status === true) {
            // Если не редактирование - сбросим сортировку и переключимся на последнюю страницу
            if (!this.isEdit) {
              this.$store.commit('base/setCurrentPage', 10000);
              this.$store.commit('base/setVal', {key: 'orderAsc', val: false});
              this.$store.commit('base/setVal', {key: 'orderBy', val: ''});
            }
            this.$store.dispatch('base/initApp');
            this.$router.push({name: 'home'});
            window.Swal.fire({
              title: 'Успешно',
              text: 'Задача успешно сохранена',
              icon: 'success'
            });
          } else {
            window.Swal.fire({
              title: 'Ошибка',
              text: 'Не удалось сохранить задачу',
              icon: 'error'
            });
          }
        }).catch(e => {
          window.Swal.fire({
            title: 'Ошибка',
            text: e,
            icon: 'error'
          });
        });
      },
      // Форма открыта для редактирования. Загрузим данные задачи
      loadData() {
        this.isEdit = true;
        this.is_edit = true;
        window.axios.post('/task/get', {
          id: this.$route.params.id,
        }).then(response => {
          if (response.data.task) {
            this.username = response.data.task.username;
            this.email = response.data.task.email;
            this.description = response.data.task.description;
          } else {
            window.Swal.fire({
              title: 'Ошибка',
              text: 'Не удалось загрузить задачу',
              icon: 'error'
            });
          }
        }).catch(e => {
          window.Swal.fire({
            title: 'Ошибка',
            text: e,
            icon: 'error'
          });
        });
      }
    },
    mounted() {
      if (this.$route.params.id) {
        this.loadData();
      }
    }
  }
</script>

<style lang="scss" scoped>
  div.task-form {
    padding: 15px 10px;
    border: 1px dashed silver;
  }
</style>